// footer

.footer{
    @include dim(230px);
    @include flex(column);
    @include flex-layout(center, start);
    background-color: $color-primary;
    padding-left: 140px;
    color: $color-secondary;
    p{
        color: #ffd89b;
        a{
            @include dim(100%,100%);
            cursor: pointer;
            color: $color-secondary;
        }
    }
    .margin-bottom{
        margin-bottom: 20px;
    }

}