/*header*/
.header {
    @include dim(300px);
    @include flex;
    @include flex-layout;
    margin-bottom: 30px;
    .box-photo {
        @include dim(80%, 50%);
        @include flex;
        @include flex-layout;
        overflow: hidden;
        padding-left: 163px;
        img {
            @include dim(230px, 230px);
            object-fit: cover;
        }
    }
    .box-titre {
        @include dim(70%, 50%);
        @include flex(column);
        @include flex-layout;
        padding-right: 200px;
        p {
            padding: 15px 0 15px 0;
            font-weight: bold;
            font-size: 26px;
        }
        &__invisible {
            @include dim(0, 0);
            visibility: hidden;
        }
    }
}
