/*header*/
.header {
    @include dim(300px);
    @include flex;
    @include flex-layout;
    .box-photo {
        @include dim(70%, 50%);
        @include flex;
    @include flex-layout;
        overflow: hidden;
        img {
            @include dim(210px, 210px);
            object-fit: cover;
        }
    }
    .box-titre{
        @include dim(70%, 50%);
        @include flex(column);
        @include flex-layout;
        padding-right: 90px;
        p{
            padding: 15px 0  15px 0;
            font-weight: bold;
            font-size: 26px;
        }
        &__invisible{
            @include dim(0, 0);
             visibility: hidden;
        }
    }
}
