/*header*/
.header {
    @include dim(300px);
    @include flex;
    @include flex-layout;
    .boxFoto {
        @include dim(70%, 50%);
        overflow: hidden;
        img {
            @include dim(210px, 210px);
            object-fit: cover;
        }
    }
    .boxTitre{
        @include dim(70%, 50%);
        @include flex(column);
        @include flex-layout;
        .boxTitre-visible{

        }
        .boxTitre-invisible{
            @include dim(0, 0);
             visibility: hidden;
        }
    }
}
