* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1400px;
  margin: auto;
}

img {
  width: 500px;
  height: 500px;
}

body, header, section, figure, footer, div, ul, li, h1, h2, h3, h4, a, p {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  font-weight: unset;
}

h1, h2 {
  font-size: 26px;
  font-family: "Roboto", "sans-serif";
}

h3, h4, h5, h6 {
  font-family: "Shrikhand", "sans-serif";
  font-size: 18px;
}

p, strong, span, i, a, button {
  font-size: 18px;
  font-family: "Roboto", "sans-serif";
}

.bold {
  font-weight: bold;
}

.marg_b_20 {
  margin-bottom: 20px;
}

.marg_t_20 {
  margin-top: 20px;
}

.bloc {
  display: block;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1400px;
  margin: auto;
}

img {
  width: 500px;
  height: 500px;
}

body, header, section, figure, footer, div, ul, li, h1, h2, h3, h4, a, p {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  font-weight: unset;
}

h1, h2 {
  font-size: 26px;
  font-family: "Roboto", "sans-serif";
}

h3, h4, h5, h6 {
  font-family: "Shrikhand", "sans-serif";
  font-size: 18px;
}

p, strong, span, i, a, button {
  font-size: 18px;
  font-family: "Roboto", "sans-serif";
}

.bold {
  font-weight: bold;
}

.marg_b_20 {
  margin-bottom: 20px;
}

.marg_t_20 {
  margin-top: 20px;
}

.bloc {
  display: block;
}

body {
  background-color: #f2f2f2;
}

.navig-ul {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #94f67b;
}

.article {
  width: 100%;
  padding: 30px;
}
.article .article-titre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-bottom: 50px;
}
.article .article-titre::after {
  width: 200px;
  content: "";
  border-top: solid #94f67b 3px;
}
.article .article-paragraphe {
  text-indent: 7%;
  text-align: justify;
}
.article .bloc {
  height: 660px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.article .bloc .bloc-photo {
  height: 600px;
  width: 31%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.article .bloc .bloc-photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.article .article-citation {
  width: 100%;
  padding: 50px 0;
  font-weight: bold;
}

.so-main .so-titre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align-last: center;
  font-weight: bold;
}
.so-main .so-titre::after {
  width: 250px;
  content: "";
  border-top: solid #94f67b 3px;
}
.so-main .so-art {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}
.so-main .so-art .so-bloc-img {
  height: 400px;
  width: 50%;
  overflow: hidden;
}
.so-main .so-art .so-bloc-img img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 70%;
  object-fit: cover;
  border-radius: 60px;
}
.so-main .so-art .so-bloc-p {
  height: 500px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.so-main .so-art .so-bloc-p p {
  text-align: justify;
  margin: 0 0 23px 0;
}
.so-main p {
  text-align: center;
}
.so-main .so-bloc-img {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.so-main .so-bloc-img img {
  height: 365px;
  width: 500px;
  object-fit: cover;
  border-radius: 60px;
}

/*header*/
.header {
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.header .box-photo {
  height: 80%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.header .box-photo img {
  height: 230px;
  width: 230px;
  object-fit: cover;
}
.header .box-titre {
  height: 70%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .box-titre p {
  padding: 15px 0 15px 0;
  font-weight: bold;
  font-size: 26px;
}
.header .box-titre__invisible {
  height: 0;
  width: 0;
  visibility: hidden;
}

.footer {
  height: 230px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: #94f67b;
  padding-left: 140px;
  color: #ff9d00;
}
.footer p {
  color: #ff9d00;
}
.footer p a {
  height: 100%;
  width: 100%;
  cursor: pointer;
  color: #ff9d00;
}
.footer .margin-bottom {
  margin-bottom: 20px;
}

.bouton-nav {
  border-radius: 30px;
  background-color: #a7f893;
  font-weight: bold;
  height: 50px;
  width: 19%;
  border: solid black 2px;
}
.bouton-nav:hover {
  box-shadow: 0px 2px 20px #289a0b;
  filter: brightness(1.1);
}
.bouton-nav a {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ff9d00;
  font-size: 23px;
}

.central-margin {
  margin: 0 20px;
}

/*# sourceMappingURL=style.css.map */
