// bouton de navigation principal
.bouton-nav{
    border-radius: 30px;
    background-color: lighten($color: $color-primary, $amount: 5%);
    font-weight: bold; 
    @include dim(50px, 19%);
    border: solid $color-contrast-B 2px;
    // box-shadow: 0px 10px 10px darken($color-back, 10%);
    &:hover{
        box-shadow: 0px 2px 20px darken($color-primary, 40%);
        filter: brightness(1.1);
    }
    a{
    @include dim(100%);
    @include flex;
    @include flex-layout;
    color: $color-secondary;
    font-size: 23px;
    }    
}

.central-margin{
    margin: 0 20px;
}