.menuIcone {
    @include dim(54px, 54px);
    position: relative;
    background-color: $color-secondary;
    border-radius: 50px;
    top: 20px;
    left: 40px;
    span {
        @include dim(2px, 22px);
        background-color: $color-primary;
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        border-radius: 50px;
        &::before,
        &::after {
            content: "";
            position: absolute;
            display: block;
            @include dim(2px, 22px);
            top: 0;
            left: 0;
            transform: translateY(-6px);
            background-color: $color-primary;
            border-radius: 50px;
        }
        &::after {
            transform: translateY(6px);
        }
    }
    &:hover {
        span::before {
            transform: translateY(-8px);
        }
        span::after {
            transform: translateY(8px);
        }
    }
}

.menuIcone-cross {
    &:active {
        span {
            background: transparent;
        }
        span::before{
            transform: translateY(0) rotate(45deg);
        }
        span::after{
            transform: translateY(0) rotate(-45deg);
        }
    }
}
