body {
    background-color: $color-primary;
}
.bar-navig {
    margin-bottom: 40px;
    .navig-ul {
        @include dim(80px);
        @include flex;
        @include flex-layout(space-around);
        background-color: $color-primary;
        border-radius: 20px;
    }
}
.article {
    width: 100%;
    .article-titre {
        @include flex(column);
        @include flex-layout;
        font-weight: bold;
        margin-bottom: 50px;
        &::after {
            width: 200px;
            content: "";
            border-top: solid $color-primary 3px;
        }
    }
    .bloc-photo {
        position: relative;
        @include dim(1021px, 100%);
        @include flex;
        @include flex-layout;
        overflow: hidden;
        img {
            @include dim(100%);
            object-fit: cover;
            border-radius: 30px;
        }
        .article-paragraphe {
            position: absolute;
            text-indent: 7%;
            text-align: justify;
            font-style: italic;
            font-weight: bold;
            font-size: 30px;
            @include dim(150px, 75%);
            top: 97px;
        }
    }
    .article-citation {
        width: 100%;
        padding: 50px 0;
        font-weight: bold;
    }
}
