body{
    background-color: #f1debc;
}
.navig-ul {
    @include dim(80px);
    @include flex;
    @include flex-layout(space-around);
    background-color: $color-primary;
    border-radius: 20px;
}

.article {
    width: 100%;
    padding: 30px;
    .article-titre {
        @include flex(column);
        @include flex-layout;
        font-weight: bold;
        margin-bottom: 50px;
        &::after{
            width: 200px;
            content: "";
            border-top: solid $color-primary 3px;
        }
    }
    
    .article-paragraphe {
        text-indent: 7%;
        text-align: justify;
    }

    .bloc {
        @include dim(660px, 100%);
        @include flex;
        @include flex-layout(space-between);
        .bloc-photo {
            @include dim(600px, 31%);
            @include flex;
            @include flex-layout;
            overflow: hidden;
            img {
                @include dim(100%);
                object-fit: cover;
                border-radius: 30px;
            }
        }
    }

    .article-citation {
        width: 100%;
        padding: 50px 0;
        font-weight: bold;
    }
}
