@import "../utils/variables";
@import "../utils/fonctions";

@mixin flex($direction: row) {
    display: flex;
    flex-direction: $direction;
}

@mixin flex-layout($justify: center, $aligne: center) {
    justify-content: $justify;
    align-items: $aligne;
}

@mixin dim($height, $width: 100%) {
    height: $height;
    width: $width;
}
