// COULEUR
// $color-primary: #f1debc;
// $color-secondary: #ff9d00;

$color-primary: #99e2d0;
$color-secondary: #ff79da;
$color-tertiary: #9356dc;
$color-button-mix: linear-gradient($color-secondary, $color-primary);
$color-back: #f2f2f2;
$color-contrast-W: white;
$color-contrast-B: black;
// MAP
$breakpoints: (
    mobile: 650px,
    pad: 992px,
    desktop: 1420px,
);