// COULEUR
$color-primary: #19547b;
$color-secondary: #ffd89b;
$color-tertiary: #99e2d0;
$color-button-mix: linear-gradient($color-secondary, $color-primary);
$color-back: #f2f2f2;
$color-contrast-W: white;
$color-contrast-B: black;
// MAP
$breakpoints: (
    mobile: 650px,
    pad: 992px,
    desktop: 1420px,
);